%article.video
  .container
    .row
      .video_large_cover.col-sm-7.col-sm-offset-1
        %img(src="http://dummyimage.com/665x375/000000/00a2ff")
      .video_info.col-sm-3
        %header
          %h3= @video.title
          %span Rating: #{Video.get_average_rating(@video.title)}/5.0
        %p= @video.description
        .actions
          %a.btn.btn-primary(href="") Watch Now
          - unless current_user.video_in_queue?(@video)
            = link_to "+ My Queue", queue_items_path(video_id: @video.id), method: :post, class: 'btn btn-default'
%section.reviews.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_for [@video, Review.new] do |f|
        %fieldset
          .row
            .col-sm-3
              = f.select :rating, options_for_video_reviews, label: "Rate this video"
          .row
            .col-sm-8
              = f.text_area :body, rows: 6, label: 'Write Review'
        %fieldset.form-group.actions.clearfix
          = f.submit "Submit", class: 'btn'
          = link_to "Cancel", video_path(@video)
      %header
        %h3 User Reviews (#{@reviews.count})
      %ul
        - @reviews.each do |review|
          %article.review
            %li.row
              .col-sm-2
                %span Rating: #{review.rating} / 5
                %p by <a href="">#{review.user.fullname}</a>
              .col-sm-8
                %p= review.body
